@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

*{

	margin:0vmin auto;

}

.fontv{

	font-size: 3vmin;

}

body {
	font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 3vmin;
	overflow-x: hidden;
	color: #2a3237;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}




.Time{
	width:30vmin;
	padding-bottom: 5vmin;
	display: flex;
	position:absolute;
	background-color: gray;
	overflow: auto;
	margin-left: 40vmin;
}

.parallax {
	position: absolute;
	overflow: hidden;
	width: 100%;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}



.parallax img {
	width: 100%;
	height: 100%;
}
/* Preloader */

.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}

.preloader div {
	display: none;
	/* Preload the Second Pricing Image */
	background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
	background-position: 9999px 9999px;
}

/* Typography */

p {
	font-size: 18px;
	line-height: 1.5;
	color: #8a8e91;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
}

h1 {
	font-size: 7vmin;
}

h2 {
	font-size: 5vmin;
}

h3 {
	font-size: 4vmin;
}

h4 {
	font-size: 3vmin;
}

h5 {
	font-size: 2vmin;
}

h6 {
	font-size: 1vmin;
}

ul.white-list {
	padding: 0;
	list-style-type: none;
}

ul.white-list li {
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}

ul.white-list li:before {
	content: ' ';
	position: relative;
	top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 15px;
	background: white;
}

.Teste::before{
	content:"";
	background: rgba(28, 36, 65, 0.93);
	background: url('../img/header.jpg');
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top:0;
	left:0;
	right:0;
	bottom:0;

	
}

.Teste {
	position: relative;
	width: 100%;

	
	background-size: cover;
	padding-bottom: 40px;
}



header .table {
	display: table;
	height: 100%;
}

header .container {
	height: 100%;
}

header .header-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}

header .typed {
	display: inline-block;
	margin: 0;
}

header .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 10px;
	color: #00a8ff;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

a {
	text-decoration: none;
	color: #00a8ff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* Navigation Bar ( Navbar ) */

nav.navbar {
	font-size: 2vmin;
	position: absolute;
	z-index: 9500;
	width: 100%;
	width: 100vw;
	height:13vmin;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.contop{

	background-color: #070E18;

}

nav.navbar .navbar-nav li.active a:not(.btn) {
	color: #00a8ff !important;
}

nav.navbar-fixed-top {
	z-index: 9499;
	top: 0;
	padding: 2vmin;
	opacity: 0;
	background: #070E18;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
	color: #bbb;
}

.icon-bar {
	background: #bbb;
}
/* Buttons */

.btn {
	font-size: 18px;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
	color: white;
}

.btn.btn-blue {
	background: #00a8ff;
}

.btn.btn-blue:hover {
	background: #31b9ff;
}

.btn.btn-blue-fill {
	color: #00a8ff;
	border-color: #00a8ff;
	background: transparent;
}

.btn.btn-blue-fill:hover {
	color: white;
	background: #00a8ff;
}

.btn.btn-white-fill {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn.btn-white-fill:hover {
	color: #00a8ff;
	background: #fff;
}

.btn.btn-gray-fill {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn.btn-gray-fill:hover {
	border-color: #bbb;
	background: #bbb;
}

/* Blink Cursor */

.blink {
	position: relative;
	top: 4px;
	display: inline-block;
	width: 4px;
	height: 50px;
	height: 5vh;
	margin: 0 10px;
}

.navbar {
	top: 50px;
}

.container {
	position: relative;
	z-index: 1;
}
/* Sections */
section {
	background-color:rgb(7,14,24, 0.95);
	position: relative;
}

.section {
	padding-top:0vmin;
	padding-bottom: 7vmin;
	background-color: rgb(7,14,24, 0.95);
}

.section-padded {
	padding: 140px 0 40px;
}


.sobre{
	padding-top:6vmin;
	padding-bottom:20vmin;

}

  .subtitulo{
	display: block;
	background: linear-gradient(1turn, #52B956 70%, #81cc84);
	box-shadow:black 0px 5px 25px;
	height:4vmin;
	width: 93vmin;
	margin-bottom: 0vmin;
  }

.subtitulo h2{
	margin:0px;
	text-align: center;
	font-size: 3.5vmin;

}

.content-box::before{

	content:"";
	position:absolute;
	width: 93vmin;
	height: 28vmin;
	background-color: gray;
	margin-top: 0px;
	z-index: -1;
	border-width: 0.35vmin;
	border-top: 0;
	border-style: solid;
	border-color: black;

}


  .content-box{
	display: block;
	margin-top: 0px;
	width:93vmin;
	height:18vmin;
	
	
  }
.content-box h3{
	font-size: 2.5vmin;
	padding: 1.5vmin;
	margin:0vmin;

}

.left-text{
	font-size: 2.5vmin;
	text-align: left;

}

@-webkit-keyframes ripple-animation {
	from {
		opacity: 0.2;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(100);
		transform: scale(100);
	}
}

@keyframes ripple-animation {
	from {
		opacity: 0.2;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(100);
		transform: scale(100);
	}
}

.row{

	width: 120vmin;

}

.Scroll{
	width:100%;
	height: auto;
	display:flex;
	overflow-y: hidden;
	overflow-x: auto;

}


.services {
	width: 100%;
}

.service {
	width: 45vmin;
	height: 40vmin;
	margin: 9vmin 0;
	text-align: center;
	border: 0.25vmin solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .icon-holder {
	position: relative;
	top: 10vmin;
	display: inline-block;
	margin-bottom: 5vmin;
	padding: 1vmin;
	border-radius: 10px;
	border-color: #6B6F72;
	border-width: 0.25vmin;
	border-style: solid;
	background: #121921;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .heading {
	position: relative;
	margin: 0 auto;
	font-size: 3vmin;
	top: 8vmin;
	width:40vmin;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	
}

.service .icon-holder > img.icon {
	width: 5vmin;
}

.service:hover {
	border-color: #00a8ff;
}

.service:hover .icon-holder {
	top: -3vmin;
	border-width: 2px;
	border-color: #00a8ff;
}

.service:hover .heading {
	top: -3vmin;
}

.service .description {
	width: 40vmin;
	font-size: 2vmin;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.service:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.team {
	width: 33.5vmin;
	height:55vmin;
	margin: 0.2vmin auto;

	padding-bottom: 5vmin;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

.team .cover .overlay {

	height: 25vmin;
	width: 32.5vmin;
	padding:1vmin;
	opacity: 0;
	background: rgba(0, 168, 255, 0.9);
	-webkit-transition: opacity 0.45s ease;
	transition: opacity 0.45s ease;
}

.form{
	display:block;
	width: 68vmin;
	height:80vmin;
	background-color: cadetblue;
	border-radius: 9px;
	box-shadow: 0px 0px 20px black;
}

.formulario{
	width: 80vmin;
	position: relative;
	left: 2vmin;
	bottom:10vmin;

}

.form-group{
	width: 68vmin;
	padding-top: 1vmin;
	margin:0 auto;
	padding-left: 2vmin;
	font-size: 2.5vmin;
}

.form-group input{

	height: 5vmin;

}

.form-group input, .form-group textarea{
	width: 61vmin;
	padding: 2vmin;

}

textarea{
	height:35vmin;
	resize: none;

}

.form button[type="submit"]{
	position: relative;
	outline:none;
	width: 61vmin;
	height:7vmin;
	border-radius: 5px;
	left:3vmin;
	font-family: 'Montserrat';
	color: rgb(27,166,247);
	font-size: 2.5vmin;
}

.redes::before{
	content:"";

	background-color: #00a8ff;

	left:0;
	right:0;
	top:0;
	bottom: 0;

}

.redes{
	
	position:absolute;
	display: block;
	left: 80vmin;
	bottom:0vmin;
	width:	28vmin;
	font-size: 3vmin;
}


footer .social-footer {
	position:relative;
	padding: 0;
	width: 100%;
	list-style: none;
	display:inline-flex;
	justify-content: center;
}

footer li{
	float:left;

}

.team:hover .cover .overlay {
	opacity: 1;
}

.team .avatar {
	position: relative;
	z-index: 2;
	height: 12vmin;
	width: 12vmin;
	margin-top: -10vmin;
	border-radius: 50%;
}

.team .title {
	margin: 4vmin 0;
	font-size: 3vmin;
}
.team .title h4{

	font-size: 4vmin;

}

.team .title h5{

	font-size: 3vmin;

}

/* Footer */

footer {
	padding-bottom: 1vmin;
	padding-top:15vmin;
	background: url('../img/footer.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}




footer .social-footer li {
	display: inline-block;
	margin: 0 1vmin;
}

footer .social-footer li a {
	font-size: 24px;
	color: #fff;
}

footer .social-footer li:hover a {
	color: #00a8ff;
}

/* Mobile Nav */
.mobile-nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	background: rgba(255, 255, 255, 0.98);
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.mobile-nav.active {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.mobile-nav ul {
	display: table-cell;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}

.mobile-nav ul li {
	margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
	color: #aaa;
}

.mobile-nav a.close-link {
	font-size: 24px;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 10px);
	left: 0;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	background: #00a8ff;
}

.row.title {
	padding: 0 20px;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: bold;
}
/* Colors */

.white {
	color: white;
}

.yellow{
	text-align: center;
	color:yellow;

}

.light-white {
	color: rgba(255, 255, 255, 0.5);
	font-size: 2.5vmin;
}

.white-bg {
	background: white;
}

.gray-bg {
	background: rgb(7,14,24, 0.95);
}

.blue {
	color: #00a8ff;
}

.blue-bg {
	background: #00a8ff;
}

.muted {
	color: #989da0;
}

.margin-top {
	margin-top: 150px;
}



/* Media Queries */

@media(max-width:991px) {
	.text-center-mobile {
		text-align: center !important;
	}
}

@media(max-width: 768px) {
	.pricing {
		margin-bottom: 30px;
	}
	.pricings .pricing .info-icon {
		display: none;
	}
	.pricings .pricing .box-main,
	.pricings .pricing .box-second {
		left: 0;
		width: 100%;
		padding: 50px 50px 0;
		text-align: left;
		background: #00a8ff;
	}
	.pricings .pricing .box-main.active {
		background: #00a8ff;
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
	.pricings .pricing .box-second {
		position: relative;
		opacity: 1;
	}
	.popup-form {
		width: 100%;
		margin: 60px auto;
	}
	.modal {
		padding: 0 10px !important;
	}
	.popup-form .form-control:not(.dropdown):focus {
		position: relative;
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media(max-width: 400px) {
	header .typed-cursor {
		display: none;
	}
	.pricings .pricing .box-second {
		padding-top: 0;
	}
}





