*{
	margin: 0 auto;
}

.container{
	position:absolute;
	width:100%;
	height: 100%;
	background: linear-gradient(#3DA5D9, #115376);
	z-index: -2;
	justify-content: center;
}


.header{
	position: relative;
	display: block;
	width: 100%;
	height: 100vmin;
	


}


.header::before{
	content: "";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-repeat: no-repeat;
	background-image: url("../img/header.jpg");
	z-index: -1;
}

.navi-bar{
	position: relative;
	background: #070E18;
	height: 12vmin;
	width: 100%;
	display: flex;
	box-shadow: 0 0 20px 2px #070E18;
}

.navi{
	position: relative;
	display: block;
	width: fit-content;
	margin-right: 1vmin;
	margin-top:auto;
	margin-bottom:auto;
	float:right;
	

}

.navi ul{
	position: relative;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}



.navi ul li{
	position: relative;
	margin-left: 1vmin;
	margin-right:1vmin;
	z-index: 2;
}

.navi ul li a:link{

	text-decoration: none;

}
.navi ul li a:visited{

	text-decoration: none;

}
.navi ul li a:active{

	text-decoration: none;

}

.navi ul li a:hover{

	text-decoration: none;
	transition: color 0.5s;
	
    background-color: #fff;

}



.navi ul button{

	padding-left: 2vmin;

}


.logo{
	position: relative;
	display: block;
	margin-left: 1vmin;
	padding-bottom:1vmin;
	width: 15vmin;
	height: 15vmin;

}

.white{

	color:#fff;
	font-weight: 300;

}
.black{

	color: #000;
	font-weight:300;

}

.header-text{
	position: relative;
	width: fit-content;
	padding-top:35vmin;

}

h1{

	font-size: 8vmin;

}

h2{

	font-size: 6vmin;

}

h3{

	font-size: 5vmin;

}

h4{

	font-size: 4vmin;

}

h5{

	font-style: 3vmin;

}

h6{

	font-style: 2vmin;

}

p{

	font-style: 1vmin;

}


