*{
	margin: 0 auto;
}

.container{
	position:absolute;
	width:100%;
	height: 100%;
	background: linear-gradient(#3DA5D9, #115376);
	z-index: -2;
	justify-content: center;
}


.header{
	position: relative;
	display: block;
	width: 100%;
	height: 100vmin;
	padding-bottom: 20vmin;
}


.header::before{
	content: "";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-repeat: no-repeat;
	background-image: url("../img/header.jpg");
	background-size:cover;
	z-index: -1;
}

.navi-bar{
	position: relative;
	background: #070E18;
	height: 12vmin;
	width: 100%;
	display: flex;
	box-shadow: 0 0 20px 2px #070E18;
}


.mnavi-bar{
	position: relative;
	background: #070E18;
	height: 12vmin;
	width: 100%;
	display: flex;
	box-shadow: 0 0 20px 2px #070E18;
}


.navi{
	position: relative;
	display: block;
	width: fit-content;
	margin-right: 1vmin;
	margin-top:auto;
	margin-bottom:auto;
	float:right;
}

.navi ul{
	position: relative;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}



.navi ul li{
	position: relative;
	margin-left: 1vmin;
	margin-right:1vmin;
	padding: 1vmin;
}


.navi ul li a{
	z-index: -1;
	width: 100%;
	height: 100%;
}

.navi ul li a:link{
	text-decoration: none;
}
.navi ul li a:visited{
	text-decoration: none;
}
.navi ul li a:active{
	text-decoration: none;
}

.navi ul li a::before{
	content: "";
	position: absolute;
	z-index: 1;
}

.navi ul li a:hover::before{
	animation: turn-on 4.0s forwards;
}

.navi ul li a:hover{
	transition: color 2s linear 1s;
	color:#3DA5D9;
}

.navi ul button{
	height: 7vmin;
	width: 20vmin;
	background-color: #3DA5D9;
	border-color: #3DA5D9;
	padding-left: 2vmin;
	font-size: 3vmin;
	font-weight: 300;
	color:black;
	border-radius: 2vmin;
	
}

.navi ul button:hover{
	transition: all 2s linear;
	background-color: #3dd4d9;
	border-color: #3dd4d9;
	box-shadow: 0px 0px 30vmin 10vmin #3DA5D9;
	transition: all 2s linear;
}


.logo{
	position: relative;
	display: block;
	margin-left: 1vmin;
	padding-bottom:1vmin;
	width: 15vmin;
	height: 15vmin;
}



.header-text h1::before, header h1::after{
	content:"";
	position: absolute;
	top: 75%; left: 0; bottom: 0; right: 0;
}

.header-text h1::before{
	background: #070E18;
	animation: typewriter 3s steps(18) 0.2s forwards;
}

.header-text h1::after{
	width: 0.50vmin;
	background: black;
	animation: typewriter 3s steps(18) 0.2s forwards,
				blinking 0.8s steps(2,start) both infinite;
}



.white{
	color:#fff;
	font-weight: 300;
}
.black{
	color: #000;
	font-weight:300;
}

.header-text{
	position: relative;
	width: fit-content;
	padding-top:20vmin;
	font-family: "Source Code Pro", monospace;
	text-align: center;

}

.sec01{
	background-color: #070E18;
	height: 10vmin;

}
.sec02{
	
	background-color: #070E18;
	width: 100%;
	height: fit-content;
	padding-top: 4vmin;
	padding-bottom: 18vmin;
	
}
.sec03{

	width: 90%;
	background-color: #070E18;
	padding: 0 10vmin 0 10vmin;
	height:fit-content;
	
	
}
.linha{
	
	display: flex;
	flex-flow: row wrap;
}
.sec03 h2{
	height: fit-content;
	color: #fff;
	font-size: 6vmin;
	
}
.sec04{
    height: auto;
	width: 45%;
	padding-top: 3vmin;	
	margin: 0;
	float: left;

	
}

.sec04 p {
	font-size: 3.5vmin;
	text-align: left;
	

}
.sec05{
   
	width: 45%;
	padding-top: 3vmin;	
	float: right ;
	padding-right: 10vmin;

	
}
.sec05 img{
	float: right;
	height: 45vmin;
}
.sec06{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	background-color: #070E18;
	width: 90%;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
}
.bkg{
	background-color: #070E18;
	padding: 10vmin 0 10vmin 0;
}


.grid-item::before{
	transition: all 1s;
	content:"";
	position: absolute;
	border-radius: 5vmin;
	top:5vmin;
	bottom:5vmin;
	left: -5vmin;
	right: -5vmin;
	background-color:#070E18;
	opacity: 1;
	z-index: -1;
}
.grid-item:hover::before{
	transition: all 1s;
	content:"";
	position: absolute;
	border-radius: 5vmin;
	top:50%;
	bottom:50%;
	left: -5vmin;
	right: -5vmin;
	background-color:#070E18;
	opacity: 1;
	z-index: -1;
}

.grid-item::after{
	transition: all 1s;
	content:"";
	position: absolute;
	border-radius: 5vmin;
	top:-5vmin;
	bottom:-5vmin;
	left: 5vmin;
	right: 5vmin;
	background-color:#070E18;
	opacity: 1;
	z-index: -1;
}
.grid-item:hover::after{
	transition: all 1s;
	content:"";
	position: absolute;
	border-radius: 5vmin;
	top:-5vmin;
	bottom:-5vmin;
	left: 50%;
	right: 50%;
	background-color:#070E18;
	opacity: 1;
	z-index: -1;
}



.grid-item::after{
	content:"";
	position: absolute;
	border-radius: 5vmin;
	top:-5vmin;
	bottom:-5vmin;
	left: 5vmin;
	right: 5vmin;
	background-color:#070E18;
	opacity: 1;
	z-index: -1;
}

.grid-item{
	transition: all 1s;
	position: relative;
	width: 80%;
	text-align: center;
	padding: 3vmin;
	border: 0.4vmin solid rgba(0, 0, 0, 0.8);
	border-radius: 5vmin;
	color: #fff;
    font-size: 2vmin;
	z-index: 2;
}


.grid-item:hover{
	transition: border 3s;
	transition: background-color 1s 0.85s;
	border: 0.2 solid;
	border: 0.4vmin solid #3DA5D9;
	background-color: midnightblue;

}



.bkg h2{
	text-align:  center;
	height: fit-content;
	color: #fff;
	font-size: 6vmin;
	padding-bottom: 10vmin;
}

.center{

	margin: 0 auto;

}


.footer{
	padding-top:20vmin;
	background-image: url("../img/footer.png");
	background-repeat: no-repeat;
	background-size:cover;
}

.footer-bottom::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 12vmin;
	background-color:#070E18;
	opacity: 0.5;
	filter:blur(0.08vmin);
	z-index: -1;
}

.footer-bottom{
	position: relative;
	width: 100%;
	height:12vmin;
	z-index: 2;
	
}

.contato{
	display: flex;
	width: 70%;
	height:10vmin;
}

.contato h4{

	padding: 0;
	margin-left: 1vmin;

}

.contato label{

	margin-right:1vmin;

}

.contato ul{
		display: flex;
		float: left;
		list-style: none;
		
}

.contato ul li{

	margin-left: 1vmin

}

.icon{
	width: 4vmin;
}
/*Font Size*/
h1{
	font-size: 8vmin;
}
h2{
	font-size: 6vmin;
}
h3{
	font-size: 5vmin;
}
h4{
	font-size: 4vmin;
}
h5{
	font-style: 3vmin;
}
h6{
	font-style: 2vmin;
}
p{
	font-style: 1vmin;
}
.h1{
	font-size: 8vmin;
}
.h2{
	font-size: 6vmin;
}
.h3{
	font-size: 5vmin;
}
.h4{
	font-size: 4vmin;
}
.h5{
	font-style: 3vmin;
}
.h6{
	font-style: 2vmin;
}
.p{
	font-style: 1vmin;
}

/*Animações Keyframe*/
@keyframes typewriter{
	to{
		left:100%
	}
}
@keyframes blinking {
	to{
		background-color: transparent;
	}	
}

@keyframes turn-on{
	0%{
		left:0; bottom:0;
		width: 0%;
		height: 1vmin;
		background-color: transparent;
	}
	33%{
		left:0; bottom:0;
		width: 100%;
		height: 1vmin;
		background-color: #3DA5D9;		
	}
	66%{
		left:100%; bottom:0;
		width: 0%;
		height: 1vmin;
		background-color: transparent;
	}
	99%{
		left:100%; bottom:0;
		width: 0%;
		height: 1vmin;
		background-color: transparent;
	}
}


